{% block oh_google_maps_widget %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxcUUscodwukRNT0F1S-70Ikub7jgW-5Y" type="text/javascript"></script>
    <div {{ block('widget_container_attributes') }}>
        {% block oh_google_maps_html %}
            <div id="{{ id }}_container">
                {% if search_enabled %}
                    <input type="text" id="{{ id }}_input" placeholder="Address"/>
                    <button id="{{ id }}_search_button" class="btn">{{ "search"|trans }}</button>
                {% endif %}
                <div id="{{ id }}_map_canvas" class="gmap" style="width: 100%; height: 400px;"></div>
                <div id="{{ id }}_error"></div>
            </div>
        {% endblock %}
        {% block oh_google_maps_fields %}
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
        {% endblock %}

        <script type="text/javascript" src="{{ asset('bundles/house/js/jquery.ohgooglemaps.js') }}"></script>

        {% block oh_google_maps_callback %}
            <script type="text/javascript">
                var oh_google_maps_callback = function(location, gmap){};
            </script>
        {% endblock %}

        <script type="text/javascript">
            jQuery(function(){
                // Set ohGoogleMapType
                jQuery('#{{ id }}_map_canvas').ohGoogleMapType({
                    'search_input_el'    : $('#{{ id }}_input'),
                    'search_action_el'   : $('#{{ id }}_search_button'),
                    'search_error_el'    : $('#{{ id }}_error'),
                    'current_position_el': $('#{{ id }}_current_position'),
                    'default_lat'        : '{% if value is defined and value and attribute(value, lat_name) %}{{ attribute(value, lat_name) }}{% else %}{{ default_lat }}{% endif %}',
                    'default_lng'        : '{% if value is defined and value and attribute(value, lng_name) %}{{ attribute(value, lng_name) }}{% else %}{{ default_lng }}{% endif %}',
                    'default_zoom'       : {% if value is defined and value and value.lat and value.lng %}15{% else %}5{% endif %},
                    'lat_field'          : $('#{{ attribute(form, lat_name).vars.id }}'),
                    'lng_field'          : $('#{{ attribute(form, lng_name).vars.id }}'),
                    {% if addr_name is defined and addr_name and attribute(form, addr_name) %}
                    'addr_field'         : $('#{{ attribute(form, addr_name).vars.id }}'),
                    {% else %}
                    'addr_field'         :  {},
                    {% endif %}
                    {% if addr_use_btn is defined and addr_use_btn and attribute(form, addr_use_btn.name) %}
                    'addr_use_btn'       : $('#{{ attribute(form, addr_use_btn.name).vars.id }}'),
                    {% else %}
                    'addr_use_btn'       : {},
                    {% endif %}
                    'callback'           : oh_google_maps_callback
                });

                // Set use_btn behaviour
                {% if addr_use_btn is defined and addr_use_btn and attribute(form, addr_use_btn.name) %}
                jQuery('#{{ attribute(form, addr_use_btn.name).vars.id }}').on('click', function(){
                    jQuery('#{{ form.parent.offsetGet( addr_use_btn.target ).vars.id }}').val(
                        jQuery('#{{ attribute(form, addr_name).vars.id }}').val()
                    );
                });
                {% endif %}
            });
        </script>
    </div>
{% endblock %}