<section id="allproducts" class="bg-light text-center">
    <div class="container">
        <div class="row" id="title">
            <div class="col-xs-12">
                <h3>{{ 'ourLatestListings'|trans }}</h3>
                {{ homeDescTop[0].setting|raw }}
            </div>
        </div>
        <div class="row">
            <nav class="nav nav-tabs text-center" id="tabproducts">
                <div class="col-xs-6 text-right">
                    <button type="button" data-target="{{ path('salesrenthome') }}" id="salesRentHome" class="btn-gray" aria-controls="Buy">{{ 'buy'|trans }}</button>
                </div>
                <div class="col-xs-6 text-left">
                    <button type="button" data-target="{{ path('salesrenthome') }}" id="salesRentHome" class="btn-gray" aria-controls="Rent">{{ 'rent'|trans }}</button>
                </div>
            </nav>
        </div>
        <div id="product-container">
            {% include 'homepage/productcontainer.html.twig' %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn-orange" data-target="{{ path('loadmoreprod') }}" id="loadMoreProd">{{ 'loadmore'|trans }}</button>
            </div>
        </div>
    </div>
</section>