<section id="header">
    <div class="container">
        <div class="row" id="text">
            <div class="col-xs-12">
                <h2 class="text-left">{{ 'welcometo'|trans }}</h2>
                <h1 class="text-left">{{ 'layanrealestate'|trans }}</h1>
            </div>
        </div>
        <div id="form">
            {{ form_start(search_form, { "action": path('search_product'), "method": "GET" }) }}
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                        {{ form_row(search_form.salesrent) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                        {{ form_row(search_form.type)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                        {{ form_row(search_form.bedrooms)}}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 text-left">
                    <div class="input-group">
                        {{ form_row(search_form.priceMin)}}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 text-left">
                    <div class="input-group">
                        {{ form_row(search_form.priceMax)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button class="btn-orange" style="width: 100%; margin-top: 0;" type="submit">{{ 'search'|trans }}</button>
                </div>
            </div>
            {{ form_rest(search_form) }}
            {{ form_end(search_form) }}
        </div>
    </div>
</section>