<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>
            {% block title %}
                {% set lan = app.request.getLocale() %}
                {% if lan == 'en' %}
                    Layan Real Estate Agency
                {% elseif lan == 'ru' %}
                    Агенство Недвижимости ЛАЯН
                {% else %}
                    ليان العقارية
                {% endif %}
            {% endblock %}
        </title>

        <link rel="stylesheet" href="{{ asset('bundles/house/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/house/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/house/css/bootstrap-select.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/house/css/bootstrap-slider.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/house/css/slider-pro.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/house/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/house/slick/slick-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/house/css/fullcalendar.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/house/css/main.css') }}">
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {% block stylesheets %}
            <style>
                section#header{
                    background-image: url({{ asset('bundles/house/img/banner.png') }});
                }
            </style>
        {% endblock %}

    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        {% block body %}
            {% include 'navigation.html.twig' %}
            {% block header %}
            {% endblock %}

            {% block main %}
            {% endblock %}

            {% include 'footer.html.twig' %}
            {% include 'copyright.html.twig' %}
            {% block fixedbuttons %}
                {% include 'fixedbuttons.html.twig' %}
            {% endblock %}
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/house/js/jquery-3.2.1.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/house/js/jquery.fullcalendar.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/house/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/house/js/bootstrap-select.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/house/js/bootstrap-slider.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/house/js/main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/house/js/ajax.js') }}"></script>
            <script type="text/javascript" >
                var rev = $('.thumbnail .caption .description');
                for (i = 0; i < rev.length; i++){
                    rev.eq(i).text(rev.eq(i).text().slice(0, 130));
                }
            </script>
        {% endblock %}

        {% block map %}
        {% endblock %}

        {% block ajax %}
        {% endblock %}
        <script type="text/javascript" >
            $('.tooltip.tooltip-max.top').css('left', 0);
            $( window ).resize(function() {
                $('.tooltip.tooltip-max.top').css('left', 0);
            });
        </script>
    </body>
</html>