<section id="fixed">
    <div class="container">
        <button class="contact-us" data-toggle="modal" data-backdrop="false" data-target="#contactus">
            <i class="fa fa-envelope text-right" aria-hidden="true"></i>
        </button>
        <button class="top-list" data-toggle="tooltip">
            <i class="fa fa-angle-up text-right" aria-hidden="true"></i>
        </button>
    </div>
    <div class="modal fade" id="contactus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'contactus'|trans }}</h4>
                    <p class="modal-title" id="myModalLabel">{{ 'usetheform'|trans }}</p>
                </div>
                {{ form_start(formContactUS, { "action": path('contactus'), "method": "POST", "attr": {"class": "ajaxForm", "id": "contactus"} }) }}
                {{ form_errors(formContactUS) }}
                    <div class="modal-body">
                        <div class="form-group">
                            {{ form_row(formContactUS.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(formContactUS.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(formContactUS.phone) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(formContactUS.message) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn-gray">Send</button>
                        <div class="tooltip-arrow"></div>
                    </div>
                {{ form_rest(formContactUS)}}
                {{ form_end(formContactUS) }}
            </div>
        </div>
    </div>
</section>