<section id="contact-us-head">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 strike text-left">
                <a href="{{ path('homepage') }}">{{ 'home'|trans }}</a>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <a href="{{ path('contact') }}" class="last">{{ 'contact'|trans }}</a>
                <span class="line"></span>
            </div>
        </div>
        <div class="row" id="logo-social">
            <div class="col-xs-12 col-sm-9 text-left" id="img-logotype">
                <img src="{{ asset('bundles/house/img/logo-dark.png') }}" alt="logotype" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-3 text-right" id="twitter-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>